:host {
  display: block;
  justify-content: center;
  text-align: justify;
  color: var(--gray-320);
  align-self: center;
  width: 100%;
  padding-bottom: 66px;
}

.nav-list {
  display: flex;
  max-width: 650px;
  gap: 54px;
  margin-bottom: 0;
  text-align: left;

  li a {
    color: var(--gray-320);
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }

  li a.active {
    color: var(--black);
    font-weight: 700 !important;
  }
}
.description {
  max-width: 1026px;
  padding-inline: 106px;

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.images {
  img {
    width: 50%;
    max-width: 605px;
    border-radius: 20px;
  }
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a.active {
  color: red;
  font-weight: bold;
}
