<div class="border-top pt-4">
  <h1>Produtos relacionados</h1>

  <div
    class="d-flex justify-content-center gap-4 mt-4 overflow-auto cards-wrapper"
  >
    @for(product of productList$ | async; track $index){
    <a type="button" (click)="redirectPage(product.id)">
      <div class="card text-start border-0 rounded-0">
        <img
          [ngSrc]="product.images[0]"
          class="card-img-top object-fit-contain rounded-0"
          alt=""
          width="285"
          height="285"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text m-0 my-2">{{ product.cardDescription }}</p>
          <div class="d-flex align-items-center price">
            <h3>{{ product.price | price }}</h3>
            <span>{{ product.price | discount : product.discount }}</span>
          </div>
        </div>
      </div>
    </a>
    }
  </div>

  <button class="rounded-0 my-4">Carregar mais</button>
</div>
