<div class="d-flex row">
  <div class="d-flex justify-content-center col-sm-12 images">
    <div class="d-flex list-group">
      @for (item of images; track $index) {
      <a
        [ngStyle]="{ 'background-color': _selectedColor() }"
        (click)="_mainImage.set(item)"
      >
        <img [src]="item" class="object-fit-contain" alt="" />
      </a>
      }
    </div>
    <div class="main-img" [ngStyle]="{ 'background-color': _selectedColor() }">
      <img [src]="_mainImage()" class="object-fit-contain" alt="" />
    </div>
  </div>
  <div class="d-inline-flex justify-content-center col-lg-6 col-sm-12 info">
    <div>
      <h1 class="name">Sofá de madeira</h1>
      <span class="price">R$ 3.000,00</span>

      <div class="d-flex justify-content-between rating">
        <div style="width: 124px; height: 20px"></div>
        <div class="divider"></div>
        <a>5 reviews</a>
      </div>
      <div class="description">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ut
          mi sed nisl mollis consequat non nec eros. Aenean cursus, purus in
          blandit lacinia, erat mi rutrum nisi, at condimentum elit nisl a nunc
        </p>
      </div>
      <div class="selection">
        <div class="sizes">
          <p>Tamanho</p>

          <ul class="nav nav-list gap-3">
            @for (size of sizes; track $index) {
            <li class="d-flex align-items-center justify-content-center">
              <a (click)="selectSize(size)"> {{ size }} </a>
            </li>
            }
          </ul>
        </div>
        <div class="colors pt-3">
          <p>Cor</p>

          <ul class="nav nav-list gap-3">
            @for (color of colors; track $index) {
            <a (click)="setColor(color)">
              <li
                class="d-flex align-items-center justify-content-center rounded-circle"
                [ngStyle]="{ 'background-color': color }"
              ></li>
            </a>
            }
          </ul>
        </div>
        <div class="d-flex gap-3 mt-3 actions">
          <div
            class="d-inline-flex align-items-center border rounded p-2 amount"
          >
            <a class="px-3" (click)="amount = amount - 1"> - </a>
            <p class="m-0 px-2">{{ amount }}</p>
            <a class="px-3" (click)="amount = amount + 1"> + </a>
          </div>
          <button class="align-items-center add-cart">
            Adicionar à sacola
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
